html {
  background: -webkit-linear-gradient(left, rgba(169,3,41,0.8) 0%, rgba(143,2,34,0.6) 4%, rgba(255,255,255,0.4) 19%, rgba(255,255,255,0.2) 100%);
  background: -moz-linear-gradient(left, rgba(169,3,41,0.8) 0%, rgba(143,2,34,0.6) 4%, rgba(255,255,255,0.4) 19%, rgba(255,255,255,0.2) 100%);
  background: -o-linear-gradient(left, rgba(169,3,41,0.8) 0%, rgba(143,2,34,0.6) 4%, rgba(255,255,255,0.4) 19%, rgba(255,255,255,0.2) 100%);
  background: -ms-linear-gradient(left, rgba(169,3,41,0.8) 0%, rgba(143,2,34,0.6) 4%, rgba(255,255,255,0.4) 19%, rgba(255,255,255,0.2) 100%);
  background: linear-gradient(to right, rgba(169,3,41,0.8) 0%, rgba(143,2,34,0.6) 4%, rgba(255,255,255,0.4) 19%, rgba(255,255,255,0.2) 100%);
}
.division-logo {
  max-width: 600px;
  /* margin-left: 3%; */
}
body {
  background: #fff;
  padding-bottom: 1%;
  font-size: 1em;
  margin: 0 auto;
  width: 100%;
  float: right;
  -webkit-box-shadow: -9px 17px 31px -4px rgba(0,0,0,0.75);
  box-shadow: -9px 17px 31px -4px rgba(0,0,0,0.75);
}
.ui-autocomplete {
  overflow-x: hidden;
  overflow-y: auto;
  max-width: 300px;
  max-height: 250px;
}
.ui-widget {
  font-size: inherit;
}
p {
  padding: 20px 24px;
}
form {
  background: #fff;
}
form button.ui-button-icon-only,
form a.ui-button {
  height: 35px;
  margin: 0px;
  width: 40px;
}
form .ms-parent {
  width: 100%;
}
form .ms-parent > button {
  width: 100% !important;
  height: 35px;
}
form input,
form select {
  float: left;
}
form input.error,
form select.error {
  border: 1px solid #f00;
  background: rgba(225,0,0,0.24);
}
form input.error:before,
form select.error:before {
  content: "*";
}
form input:not([type='radio']):not([type='checkbox']),
form select:not([type='radio']):not([type='checkbox']) {
  height: 35px;
  width: 100%;
}
form input.input-fit[type='text'],
form select.input-fit[type='text'] {
  width: 254px;
}
form ul#select2-database_pathway-results {
  float: left;
  width: 100%;
}
form ul li {
  list-style: none;
}
form .custom-combobox {
  position: relative;
  display: inline-block;
}
form .custom-combobox a {
  height: 33px;
  vertical-align: bottom;
}
form .error.ms-choice,
form .error.custom-combobox-input {
  border: 1px solid #f00;
  background: rgba(225,0,0,0.24);
}
form .warning {
  background: #ffd700;
  border: 5px solid #daa520;
  padding: 5px;
}
#content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 100%;
  margin: 0px auto;
  max-width: 800px;
}
#mainTitle {
  text-align: center;
  clear: both;
  font-size: x-large;
}
header {
  /* padding: 2% 0; */
  margin-top: 0;
}
header hr {
  width: 100%;
  float: right;
  margin: 0;
  border: 0;
  height: 6px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0) 8%, #bb0e3d, rgba(0,0,0,0) 100%);
  background-image: -moz-linear-gradient(left, rgba(0,0,0,0) 8%, #bb0e3d, rgba(0,0,0,0) 100%);
  background-image: -o-linear-gradient(left, rgba(0,0,0,0) 8%, #bb0e3d, rgba(0,0,0,0) 100%);
  background-imageheader: -ms-linear-gradient(left, rgba(0,0,0,0) 8%, #bb0e3d, rgba(0,0,0,0) 100%);
  background-image: linear-gradient(to right, rgba(0,0,0,0) 8%, #bb0e3d, rgba(0,0,0,0) 100%);
}

.subHeading {
  font-size: medium;
  border: 3px ridge rgba(0,66,118,0.47);
  text-align: center;
  padding: 1%;
  clear: both;
  background-color: #789;
  color: #fff;
}
.subHeading a {
  color: #fff;
}
.subHeading p {
  padding: 0px 20px;
  text-align: left;
}
#errorDisplay,
#successBox {
  padding: 1%;
  margin: 10px auto;
  clear: both;
  text-align: center;
  font-size: 0.9em;
}
#errorDisplay li,
#successBox li {
  list-style: none;
  margin: 0 auto;
}
#errorDisplay li.error,
#successBox li.error {
  width: inherit;
  float: none;
  color: inherit;
}
#successBox {
  font-size: 1.1em;
  border: 2px solid #006400;
  background: rgba(12,193,12,0.27);
  margin: 1% auto;
  color: #006400;
}
#successBox span {
  width: 20px;
  float: left;
}
ol li {
  margin: 2% auto;
}
ul {
  display: block;
  padding-left: 16px;
}
li {
  position: relative;
  padding: 4px 0px;
  clear: both;
}
label {
  display: block;
  float: left;
}
fieldset {
  margin: 2% auto;
  padding: 1em;
  border: 0.1em groove;
}
legend {
  font-size: 1em;
  font-weight: bold;
}
progress {
  display: block;
  margin: 0 auto;
}
.tooltip {
  background: url("/common/images/info.png") no-repeat center;
  width: 16px;
  height: 16px;
  margin-left: 5px;
}

/*
.studyResources {
  float: right;
}
.studyResources label {
  padding: 0 5px;
}
*/
#refinep input[type="checkbox"] {
  display: inline-block;
}
#refinep label {
  display: inline-block;
}
.box-error {
  border: 2px solid #800000;
  background: rgba(255,115,115,0.5);
}
.spacer {
  content: "|";
  display: inline-block;
}
.addControl {
  text-align: center;
  height: 30px;
  margin: 2% 0;
}
.buttonGroup {
  margin: 0 auto;
  text-align: center;
}
.buttonGroup button {
  width: 300px;
  display: inline-block;
}
.input {
  position: relative;
  float: right;
  clear: right;
  text-align: left;
  width: 300px;
}
.input .ms-drop {
  font-size: 85%;
  left: -100px;
}
.input .ms-drop li:not(.group) {
  text-indent: 20px;
}
#spinner {
  background: url("/common/images/loading.gif") no-repeat center/50%;
  height: 100px;
  width: 100px;
  clear: both;
  margin: 0 auto;
  display: none;
}
#snippets,
.hide {
  display: none;
}
.notice {
  border: 3px solid #a9a9a9;
  background: #d3d3d3;
  padding: 10px;
  margin: 5px auto;
}
footer {
  padding: 2% 0;
  clear: both;
  text-align: center;
  font-size: small;
}
footer ul li {
  list-style: none;
  display: inline-block;
  margin: 0 5px;
}
footer ul li a {
  color: #000;
}

@media (min-width: 1279px) {
  body {
    width: 93%;
    font: 0.9em "Verdana", "Geneva", "sans-serif";
  }

 /*  #home-tab, #study-tab, #help-tab { //
    /* Instead of using em, I used px to make the calculation easier */
    /* height: 1800px;   */
    /* max-height:1800px;  */
/*   } */
}
@media (max-width: 990px) {
  .tooltip {
    display: none;
  }
}
@media (min-width: 481px) and (max-width: 810px) {
  #content {
    max-width: 810px;
    margin: 0px;
    padding: 0px 5px;
  }
}
@media (max-width: 990px) {
  .ui-accordion .ui-accordion-content {
    padding: 0.5em;
  }
  footer {
    font-size: inherit;
  }
  footer .spacer {
    display: none;
  }
  footer ul li {
    display: block;
    margin: 0;
    width: 100%;
  }
  .tooltip {
    -webkit-background-size: 90%;
    -moz-background-size: 90%;
    background-size: 90%;
    width: 25px;
    height: 30px;
    padding: 5px;
    float: right;
  }
  input[type="checkbox"] {
    width: 25px;
    height: 25px;
  }
}
@media (max-width: 480px) {
  #content {
    width: 360px;
  }
  .division-logo {
    max-width: 330px;
  }
}

header div {
  background-color: #E06666;
}

/* The way the title of the application should be representated */
.title {
  color: white;
  font-size: x-large;
  padding-left: 2em;
}

header p {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left:0em;
  padding-right:0em;
  margin-top:0px;
  margin-bottom:0px;
}

/*
/* CSS for the navigation bar ( Has the Home, Study, Help Tabs )              */
#tabs .ui-tabs-nav {
  display: flex;
  background: transparent;
}

#home-tab, #study-tab, #help-tab {
  border: 1px solid black;
  margin-bottom :-2px;
  min-height: 1500px;
}

#tabs .ui-widget-header {
  border:initial;
}

#tabs.ui-widget-content {
  border: initial;
}

/* The Style.css forces most ( excepct checkbox or radio ) input elements to  */
/* be on different lines.  This css rule will allow input elements to be on   */
/* the same line                                                              */
/* Assumption : Adds some space after the last element                        */
#excluded_snp {
  width: auto !important;
  padding-left: 4px;
}

/* Styles for the Family Selection which selects either Bionominal or Gausian */
#Family_Selection {
  display: inline-flex;
  padding-bottom: 1em;
}

#Family_Selection label {
  padding-right : 5em;
}

#Family_selection [type="radio"] {
  padding-right : 5em;
}

/* Styles for the Study Entry                                                 */
.ui-accordion-content {
  /* border: 1px solid #F00; */
}


/* Styles the load & Check button and the Reset Study Button                  */
/* The buttons are part of them template so the id will have                  */
/* an _<number> attached to each id.                                          */
#content .studies [id^=loadAndCheckButton] {
  width:7em;
  height:initial;
  margin-right: 2.0em;
  display:inline;
}

#content .studies [id^=loadAndCheckLabel].errorColor {
  color: red;
}

#content .studies [id^=loadAndCheckLabel].successColor {
  color: #9FC4E4;
}

#content .studies [id^=loadAndCheckLabel].normalColor {
  color: black;
}

#content .studies [id^=studyProxy] {
  width:7em;
  height:initial;
  margin-right: 2.0em;
  display:inline;

}

#content .studies [id^=resetStudy]{
  width: auto;
}

/*
 * Styles for the Titles of the resources ( case and control)
 */
li div #caseTitleSize p{
   float: left;
   width: 12.6em;
   display: inline;
   font-size: 10;
   padding: 0px;
   font-weight: bold;
 }

 li div #caseTitleControl p {
   float: left;
   width: 16em;
   display: inline;
   font-size:10;
   padding: 0px;
   font-weight: bold;
 }

 /**
  * Styles for the resource label and text fields to put the sample sizes in
  */
#size_label {
  font-size: 10;
  float:left;
  margin-left: 14.0em;
  font-weight: bold;
  padding-right:3.2em;
}

/*
 * Styles for the text fields to enter the sample sizes
 */
 #content .studies [id^=sample_size_],
 #content .studies [id^=control_size_] {
   width: 8em;
   height: initial;
   margin-right: .8em;
   display: block;
   height: 2.2em;
 }

 #content .studies [id^=sample_size_].single {
   width: 17em;
   height: initial;
   display:block;
   height: 2.2em;
 }

 #content .studies [id^=control_size_].single {
   display:none;
 }

/*
 * Handle the study button.  Make it invisible another button can be click and
 * the button that was clicked will clock the button starting with study_
 */
[id^=study_] {
  display:none;
}

/*
 * When the load and validate has returned an error need some way of showing that
 * the caclulate button is disabled.
 */
#calculate.errorColor {
  color: grey;
}

/*
 * The Text between the Browse and Select Study file were a little cramped so
 * so I provided some breathing room
 */
.spaceBetweenChooseFileButtonAndText {
    margin-top: .5em;
}
