@media (max-width: 1280px) {
  body {
    width: 100% !important;
    font-size: 1em !important;
  }
  #content {
    padding: 0 1% !important;
  }
}
@media (max-width: 990px) {
  .tooltip {
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 990px) {
  .ui-accordion .ui-accordion-content {
    padding: 0.5em !important;
  }
  footer {
    font-size: inherit !important;
  }
  footer .spacer {
    display: none;
  }
  footer ul li {
    display: block !important;
    margin: 0 !important;
    width: 100%;
  }
  .tooltip {
    -webkit-background-size: 90% !important;
    -moz-background-size: 90% !important;
    background-size: 90% !important;
    width: 25px !important;
    height: 30px !important;
    padding: 5px;
    float: right;
  }
  input[type="text"],
  input[type="number"],
  input[type="email"],
  input[type="file"],
  select,
  button,
  progress {
    font-size: 1em;
  }
  input[type="checkbox"] {
    width: 25px;
    height: 25px;
  }
  #refinep_div {
    float: inherit;
  }
}
@media (min-width: 320px) and (max-width: 479px) and (-webkit-min-pixel-ratio: 1) {
  .input {
    width: 100%;
  }
  #refinep_div {
    width: 50%;
  }
  .division-logo {
    max-width: 330px;
  }
}
@media (min-width: 480px) and (max-width: 599px) and (-webkit-min-pixel-ratio: 2) and (min-resolution: 192dpi) {
  .input {
    width: 100%;
  }
  #refinep_div {
    float: inherit;
    width: 50%;
  }
  .division-logo {
    max-width: 330px;
  }
}
@media (min-width: 600px) and (max-width: 767px) and (-webkit-min-pixel-ratio: 1.5) {
  .input {
    width: 100%;
  }
  .division-logo {
    max-width: 330px;
  }
}
@media (min-width: 768px) and (max-width: 1280px) and (-webkit-min-pixel-ratio: 1) {
  .input {
    width: 70%;
  }
  #refinep_div {
    width: 20%;
  }
}

html {
  background: -webkit-linear-gradient(left, rgba(169,3,41,0.8) 0%, rgba(143,2,34,0.6) 4%, rgba(255,255,255,0.4) 19%, rgba(255,255,255,0.2) 100%);
  background: -moz-linear-gradient(left, rgba(169,3,41,0.8) 0%, rgba(143,2,34,0.6) 4%, rgba(255,255,255,0.4) 19%, rgba(255,255,255,0.2) 100%);
  background: -o-linear-gradient(left, rgba(169,3,41,0.8) 0%, rgba(143,2,34,0.6) 4%, rgba(255,255,255,0.4) 19%, rgba(255,255,255,0.2) 100%);
  background: -ms-linear-gradient(left, rgba(169,3,41,0.8) 0%, rgba(143,2,34,0.6) 4%, rgba(255,255,255,0.4) 19%, rgba(255,255,255,0.2) 100%);
  background: linear-gradient(to right, rgba(169,3,41,0.8) 0%, rgba(143,2,34,0.6) 4%, rgba(255,255,255,0.4) 19%, rgba(255,255,255,0.2) 100%);
}
.division-logo {
  max-width: 600px;
  margin-left: 3%;
}
body {
  background: #fff;
  padding-bottom: 1%;
  font: 0.9em "Verdana", "Geneva", "sans-serif" !important;
  margin: 0 auto;
  width: 93%;
  float: right;
  -webkit-box-shadow: -9px 17px 31px -4px rgba(0,0,0,0.75);
  box-shadow: -9px 17px 31px -4px rgba(0,0,0,0.75);
}
.ui-autocomplete {
  overflow-x: hidden;
  overflow-y: auto;
  max-width: 300px;
  max-height: 250px;
}
.ui-widget {
  font-size: inherit !important;
}
p {
  padding: 20px 24px;
}
form {
  background: #fff;
  margin: 0 auto;
}
form ul li {
  list-style: none;
}
form input.error,
form select.error {
  border: 1px solid #f00;
  background: rgba(225,0,0,0.24);
}
form input.error:before,
form select.error:before {
  content: "*";
}
form .error.ms-choice,
form .error.custom-combobox-input {
  border: 1px solid #f00;
  background: rgba(225,0,0,0.24);
}
#content {
  display: block;
  padding: 0 25%;
}
#mainTitle {
  text-align: center;
  clear: both;
  font-size: x-large;
}
header {
  padding: 2% 0;
  margin-top: 0;
}
header hr {
  width: 100%;
  float: right;
  margin: 0;
  border: 0;
  height: 13px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0) 8%, #bb0e3d, rgba(0,0,0,0) 100%);
  background-image: -moz-linear-gradient(left, rgba(0,0,0,0) 8%, #bb0e3d, rgba(0,0,0,0) 100%);
  background-image: -o-linear-gradient(left, rgba(0,0,0,0) 8%, #bb0e3d, rgba(0,0,0,0) 100%);
  background-image: -ms-linear-gradient(left, rgba(0,0,0,0) 8%, #bb0e3d, rgba(0,0,0,0) 100%);
  background-image: linear-gradient(to right, rgba(0,0,0,0) 8%, #bb0e3d, rgba(0,0,0,0) 100%);
}
#subHeading {
  font-size: medium;
  border: 3px ridge rgba(0,66,118,0.47);
  text-align: center;
  padding: 1%;
  clear: both;
  background-color: #789;
  color: #fff;
}
#errorDisplay,
#successBox {
  padding: 1%;
  margin: 10px auto;
  clear: both;
  text-align: center;
  font-size: 0.9em;
}
#errorDisplay li,
#successBox li {
  list-style: none;
  margin: 0 auto;
}
#errorDisplay li.error,
#successBox li.error {
  width: inherit;
  float: none;
  color: inherit;
}
#successBox {
  font-size: 1.1em;
  border: 2px solid #006400;
  background: rgba(12,193,12,0.27);
  margin: 1% auto;
  color: #006400;
}
#successBox span {
  width: 20px;
  float: left;
}
ol li {
  margin: 2% auto;
}
ul {
  display: block;
  padding-left: 16px;
}
li {
  position: relative;
  padding: 4px 0px;
  clear: both;
}
label {
  display: block !important;
  float: left !important;
}
fieldset {
  margin: 2% auto;
  padding: 1em;
  border: 0.1em groove;
}
legend {
  font-size: 1em;
  font-weight: bold;
}
form .custom-combobox {
  position: relative;
  display: inline-block;
}
form .custom-combobox a {
  height: 33px !important;
  vertical-align: bottom;
}
form .custom-combobox input {
  height: 35px !important;
  width: 265px !important;
  text-align: center;
}
form input[type="file"],
form input[type="text"],
form input[type="number"],
form input[type="email"],
form select,
form button,
form progress {
  width: 300px !important;
  height: 35px !important;
  font-size: inherit;
}
form input[name='pathway_type'] {
  float: inherit;
}
form button.ui-button-icon-only,
form a.ui-button {
  width: 2.4em !important;
}
progress {
  display: block;
  margin: 0 auto;
}
.tooltip {
  background: url("/common/images/info.png") no-repeat center;
  width: 16px;
  height: 16px;
  margin-left: 5px;
}
.studyResources {
  float: right;
}
.studyResources label {
  padding: 0 5px;
}
#refinep_div {
  float: right;
}
#refinep input[type="checkbox"] {
  display: inline-block;
}
#refinep label {
  display: inline-block;
  width: auto;
  float: none;
}
.box-error {
  border: 2px solid #800000;
  background: rgba(255,115,115,0.5);
}
.left-align {
  float: right;
  margin-right: 280px;
}
.spacer {
  content: "|";
  display: inline-block;
}
.addControl {
  text-align: center;
  height: 30px;
  margin: 2% 0;
}
.buttonGroup {
  margin: 0 auto;
  width: 550px;
}
.buttonGroup button {
  width: 250px !important;
  display: inline-block;
}
.input {
  float: right;
  clear: right;
}
.input input.input-fit {
  width: 260px !important;
}
.ms-drop {
  font-size: 85%;
}
.ms-drop li:not(.group) {
  text-indent: 20px;
}
#spinner {
  background: url("/common/images/loading.gif") no-repeat center/50%;
  height: 100px;
  width: 100px;
  clear: both;
  margin: 0 auto;
  display: none;
}
#snippets,
.hide {
  display: none;
}
footer {
  padding: 2% 0;
  clear: both;
  text-align: center;
  font-size: small;
}
footer ul li {
  list-style: none;
  display: inline-block !important;
  margin: 0 5px;
}
footer ul li a {
  color: #000;
}
