html {
  height: 100%;
}
body {
  min-height: 100%;
}
.division-logo {
  min-width: 380px;
}
#content {
  background: #fff;
}
.ui-autocomplete {
  overflow-x: hidden;
  overflow-y: auto;
  max-width: 300px;
  max-height: 250px;
}
.ui-widget {
  font-size: inherit;
}
form {
  background: #fff;
}
form .row {
  margin-top: 5px;
  margin-bottom: 5px;
}
form p {
  padding: 20px 24px;
}
form button.ui-button-icon-only,
form a.ui-button {
  height: 35px;
  margin: 0px;
  width: 40px;
}
form #sub:not(.show) {
  display: none;
}
form .ms-parent {
  width: 100%;
}
form .ms-parent > button {
  width: 100% !important;
  height: 35px;
}
form .studies > .panel-title {
  font-weight: bold;
}
form input,
form select {
  float: left;
}
form input.error,
form select.error {
  border: 1px solid #f00;
  background: rgba(225,0,0,0.24);
}
form input.error:before,
form select.error:before {
  content: "*";
}
form input:not([type='radio']):not([type='checkbox']),
form select:not([type='radio']):not([type='checkbox']) {
  height: 35px;
  width: 100%;
}
form input.input-fit[type='text'],
form select.input-fit[type='text'] {
  width: 254px;
}
form #studyFiles {
  display: none;
}
form ul {
  display: block;
  padding-left: 16px;
}
form ul#select2-database_pathway-results {
  float: left;
  width: 100%;
}
form ul li {
  list-style: none;
}
form .custom-combobox {
  position: relative;
  display: inline-block;
}
form .custom-combobox a {
  height: 33px;
  vertical-align: bottom;
}
form .error.ms-choice,
form .error.custom-combobox-input {
  border: 1px solid #f00;
  background: rgba(225,0,0,0.24);
}
form .warning {
  background: #ffd700;
  border: 5px solid #daa520;
  padding: 5px;
}
form ol li {
  margin: 2% auto;
}
form li {
  position: relative;
  padding: 4px 0px;
  clear: both;
}
.section-content {
  margin: 10px auto;
}
#mainTitle {
  text-align: center;
  clear: both;
  font-size: x-large;
}
header {
  padding: 0;
  margin: 0;
}
header hr {
  width: 100%;
  float: right;
  margin: 0;
  border: 0;
  height: 13px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0) 8%, #bb0e3d, rgba(0,0,0,0) 100%);
  background-image: -moz-linear-gradient(left, rgba(0,0,0,0) 8%, #bb0e3d, rgba(0,0,0,0) 100%);
  background-image: -o-linear-gradient(left, rgba(0,0,0,0) 8%, #bb0e3d, rgba(0,0,0,0) 100%);
  background-image: -ms-linear-gradient(left, rgba(0,0,0,0) 8%, #bb0e3d, rgba(0,0,0,0) 100%);
  background-image: linear-gradient(to right, rgba(0,0,0,0) 8%, #bb0e3d, rgba(0,0,0,0) 100%);
}
#page-head {
  color: #fff;
  background: #bb0e3d 50%;
  border-radius: 5px 5px 0 0;
  padding: 10px;
  margin: 0 auto;
  font-weight: bold;
}
#page-head h1 {
  font-size: 18px;
  margin: 0;
}
#main {
  display: inline-block;
  margin-bottom: 1em;
}
.section-title {
  margin: 0 auto;
  padding: 5px 10px;
  background: #606060;
  color: #fff;
  font-size: 18px;
}
.subHeading {
  font-size: medium;
  border: 3px ridge rgba(0,66,118,0.47);
  text-align: center;
  padding: 1%;
  clear: both;
  background-color: #789;
  color: #fff;
}
.subHeading a {
  color: #fff;
}
.subHeading p {
  padding: 0px 20px;
  text-align: left;
}
#errorDisplay,
#successBox {
  padding: 1%;
  margin: 10px auto;
  clear: both;
  text-align: center;
  font-size: 0.9em;
}
#errorDisplay:not(.show),
#successBox:not(.show) {
  display: none;
}
#errorDisplay li,
#successBox li {
  list-style: none;
  margin: 0 auto;
}
#errorDisplay li.error,
#successBox li.error {
  width: inherit;
  float: none;
  color: inherit;
}
#successBox {
  font-size: 1.1em;
  border: 2px solid #006400;
  background: rgba(12,193,12,0.27);
  margin: 1% auto;
  color: #006400;
}
#successBox span {
  width: 20px;
  float: left;
}
label {
  display: block;
  float: left;
}
fieldset {
  margin: 2% auto;
  padding: 1em;
  border: 0.1em groove;
}
legend {
  padding: 5px;
  font-size: 1em;
  font-weight: bold;
  border: 1px solid #9a9a9a;
}
progress {
  display: block;
  margin: 0 auto;
}
progress:not(.show) {
  display: none;
}
.tooltip {
  background: url("/common/images/info.png") no-repeat center;
  width: 16px;
  height: 16px;
  margin-left: 5px;
}
.studyResources {
  float: right;
}
.studyResources label {
  padding: 0 5px;
}
#refinep input[type="checkbox"] {
  display: inline-block;
}
#refinep label {
  display: inline-block;
}
.box-error {
  border: 2px solid #800000;
  background: rgba(255,115,115,0.5);
}
.spacer {
  content: "|";
  display: inline-block;
}
.addControl {
  text-align: center;
  height: 30px;
  margin: 2% 0;
}
.buttonGroup {
  margin: 10px auto;
  text-align: center;
}
.buttonGroup button {
  width: 300px;
}
.input {
  position: relative;
  float: right;
  clear: right;
  text-align: left;
  width: 300px;
}
.input .ms-drop {
  font-size: 85%;
  left: -100px;
}
.input .ms-drop li:not(.group) {
  text-indent: 20px;
}
#spinner {
  background: url("/common/images/loading.gif") no-repeat center/50%;
  height: 100px;
  width: 100px;
  clear: both;
  margin: 0 auto;
}
#spinner:not(.show) {
  display: none;
}
progress,
#spinner,
#sub,
#snippets {
  display: none;
}
.notice {
  border: 3px solid #a9a9a9;
  background: #d3d3d3;
  padding: 10px;
  margin: 5px auto;
}
footer {
  text-align: center;
}
footer ul li {
  list-style: none;
  display: inline-block;
}
footer ul li:after {
  content: "|";
  margin: 0 15px;
}
footer ul li a {
  color: #000;
}

