li.studyResources
    .well.well-sm
        .row
            .col-xs-12.col-sm-2
                .resourceNum
            .col-xs-12.col-sm-3
                label(for="sample_size") Sample Size
                input#sample_size(type="number", name="sample_size", min="1", value="", placeholder="sample size")
            .family.col-xs-12.col-sm-3
                label(for="sample_case") Sample Size of Case
                input#sample_case(type="number", name="sample_case", placeholder="case")
            .family.col-xs-12.col-sm-3
                label(for="sample_control") Sample Size of Control
                input#sample_control(type="number", name="sample_control", placeholder="control")