footer.footer
    ul.list-inline
        li
            a(href='http://www.cancer.gov/', target='_blank', title='National Cancer Institute Home') Home
        li
            a(href='mailto:NCIPathwayAnalysisToolWebSupport@mail.nih.gov', target='_blank', title='Contact us for technical support') Support
        li
            a(href='http://www.cancer.gov/global/web/policies', target='_blank', title='Web Policies') Policies
        li
            a(href='http://www.cancer.gov/global/web/policies/accessibility', target='_blank', title='Document Viewers, Multimedia Players and Accessibility Policy') Accessibility
        li
            a(href='http://www.cancer.gov/global/web/policies/foia', target='_blank', title='Freedom of Information Act (FOIA)') FOIA
    ul.list-inline
        li
            a(target='_blank', href='http://www.dhhs.gov/') U.S. Department of Health and Human Services
        li
            a(target='_blank', href='http://www.nih.gov/') National Institutes of Health
        li
            a(target='_blank', href='http://www.cancer.gov/') National Cancer Institute
        li
            a(target='_blank', href='http://www.usa.gov/') USA.gov
    .text-center
        | NIH...Turning Discovery Into Health
        sup &reg;