footer
    ul.list-inline
        li
            a(target='_blank', title='Home', href='http://www.cancer.gov/') Home
        li
            a(href='mailto:NCIPathwayAnalysisToolWebSupport@mail.nih.gov', target='_blank', title='Contact us for technical support') Support
        li
            a(target='_blank', title='Policies', href='http://www.cancer.gov/global/web/policies') Policies
        li
            a(target='_blank', title='Accessibility', href='http://www.cancer.gov/global/web/policies/accessibility') Accessibility

        li
            a(target='_blank', title='Viewing Files', href='http://cancer.gov/global/viewing-files') Viewing Files
        li
            a(target='_blank', title='FOIA', href='http://www.cancer.gov/global/web/policies/foia') FOIA
    ul.list-inline
        li
            a(target='_blank', href='http://www.hhs.gov/') U.S. Department of Health and Human Services
        li
            a(target='_blank', href='http://www.nih.gov') National Institutes of Health
        li
            a(target='_blank', href='http://www.cancer.gov/') National Cancer Institute
        li
            a(target='_blank', href='http://usa.gov') USA.gov
    .text-center
        | NIH ... Turning Discovery Into Health
        sup &reg;
