header
    a(href="http://dceg.cancer.gov/", target="_blank")
        img.division-logo(src="/common/images/DCEG-logo.svg", alt="Division of Cancer Epidemiology & Genetics")
    hr
//-    img#branch-logo(src="/common/images/DCEG-BB-HREB.png", alt="Biostatistics Branch")
h1#mainTitle Pathway Analysis Tool
