header
    a(href='http://www.nih.gov', target='_BLANK')
      img.division-logo(src='/common/images/DCEG-logo.svg', alt='National Institute of Health ', title='Banner for the National Institute of Health')
    hr