// dynamic template for a study entry
// display in accordion/collapsible manner

.studies.panel.panel-default
    .panel-heading(role="tab") 
        a.panel-title(role="button", data-toggle="collapse", data-parent="#studySelections") 
            .studyTitle
                b {%= studyTitle %}
                i.toggleIcons.pull-right.glyphicon.glyphicon-chevron-left
    .panel-collapse.collapse(role="tabpanel")
        .panel-body
            .lambda.col-xs-12.col-sm-6
                span.input-group-addon.termToDefine(data-term="lambda", for="lambda") Lambda (&lambda;):
                input.form-control#lambda(type="text", name="lambda", required)
            .studyResources.col-xs-12.col-sm-6
                span.input-group-addon(for="sample_sizes")
                textarea#sample_sizes.form-control(name="sample_sizes", rows="3", pattern="/(\d+)[^,]?+/gm", required)