// dynamic template for a study entry
// display in accordion/collapsible manner
.studies
        .studyTitle Study #
        ul
            li
                label(for='study') Browse and select study file:
                .input
                    input#study(type='file', name='study',  required='')
            li
                label.termToDefine(data-term="lambda", for="lambda") Lambda (&lambda;):
                .input
                    input#lambda(type="text", name="lambda",value="1.0", required='')
            li
                label(for="num_resource") Number of data resources in this study:
                .input
                    input.input-fit#num_resource(type="text", name="num_resource", required='')
                    button.addControl(title="resource")
                ul.resource-list
