section#tab-help.tab-pane
    //-    h2.section-title Help
    .section-content
        .side-panel.col-xs-12.col-sm-3
            .well.well-sm
              h3 Table of Contents
              ul
                li
                    a(href='#') TBD
        .main-panel.col-xs-12.col-sm-9
            | Content TBD......