section#tab-help.tab-pane
  h2.section-title Help
  .section-content
    .side-panel.col-xs-12.col-sm-4
      .well.well-sm
        h3 Helpful 508 compliance resources and tips
        ul
          li
            a(target='_blank', href='https://www.bluefishgroup.com/insights/ecm/tips-for-making-your-website-section-508-compliant/') Tips for Making Your Website Section 508 Compliant
          li
            a(target='_blank', href='http://www.techrepublic.com/blog/web-designer/creating-an-ada-compliant-website/') Creating an ADA-compliant website
          li
            a(target='_blank', href='https://www.viget.com/articles/a-designers-guide-to-accessibility-and-508-compliance') A Designer's Guide To Accessibility and 508 Compliance
        h3 NIH/NCI application guidelines
        ul
          li
            a(target='_blank', href='https://mynci.cancer.gov/topics/nci-branding-logo-use-templates') NCI Branding, Logo Use, & Templates
          li
            a(target='_blank', href='https://oma1.od.nih.gov/manualchapters/management/1186/') NIH use of names and logos
        h3 Mobile/Responsive layout resource
        ul
          li
            a(target='_blank', href='http://getbootstrap.com/css/') CSS - Bootstrap
          li
            a(target='_blank', href='https://css-tricks.com/snippets/css/media-queries-for-standard-devices/') Media Queries for standard devices
    .main-panel.col-xs-12.col-sm-8
      | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc,