section#tab-home.tab-pane.active
    h2.section-title Home
    .section-content
        p
            | ARTP2 (Adaptive Rank Truncated Product - Version 2) is an R package of biological pathway association analysis or pathway meta-analysis for genome-wide association studies (GWAS). 
            | It also provides tools for gene-level association test as a special case. ARTP2 is an enhanced version of two previously released packages ARTP and AdaJoint.
        p
            span 
                | This online application was developed to assist epidemiological researchers for testing the association between complex disease/trait outcome and predefined pathways 
                | when only SNP-level summary statistics from one or multiple GWAS were available. We provide reference panel data incorporated from the 
            a(href="http://www.1000genomes.org/") 1000 Genomes Project
            span  to facilitate the studies on various populations. We also support over 4,700 pathways predefined by the 
            a(href="http://software.broadinstitute.org/gsea/msigdb/collections.jsp") BROAD Institute
            | .
        em
            b Note: use the link (
            a(href="http://biorxiv.org/content/early/2016/02/24/041244") http://biorxiv.org/content/early/2016/02/24/041244
            | ) and rename the paper to "A Powerful Procedure for Pathway-based Meta-Analysis Using Summary Statistics Identities 
            |  43 Pathways Associated with Type II Diabetes in European Populations"