

html(lang="en")
    head
      title Pathway Tool
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(http-equiv="Pragma", content="no-cache")
      link(href='https://cdnjs.cloudflare.com/ajax/libs/multiple-select/1.1.0/multiple-select.min.css', rel='stylesheet', type='text/css')
      link(href='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css', rel='stylesheet', type='text/css')
      link(href='https://code.jquery.com/ui/1.11.4/themes/blitzer/jquery-ui.css', rel='stylesheet', type='text/css')
      link(href='/common/css/style.css', rel='stylesheet', type='text/css')
      link(href='styles.css', rel='stylesheet', type='text/css')
      script(src='https://code.jquery.com/jquery-2.1.4.min.js', type='application/javascript')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.14.0/jquery.validate.js', type='application/javascript')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.14.0/additional-methods.js', type='application/javascript')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/multiple-select/1.1.0/jquery.multiple.select.js', type='application/javascript')
      script(src='https://code.jquery.com/ui/1.11.4/jquery-ui.min.js', type='application/javascript')
      script(src='/common/js/popover-functions.js', type='application/javascript')
      script(src='main.js', type='application/javascript')
    body
        include templates/header
        #content
            #subHeading Calculate gene and pathway using the ARTP test and summary data.
            #errorDisplay.box-error
            #successBox
                span.ui-icon.ui-icon-circle-check
                #message
            #dialogElm
            include form
        include templates/footer
        include templates/snippets

