doctype html
html(lang="en")
    head
      meta(http-equiv="Pragma", content="no-cache")
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      title Pathway Analysis Tool
      link(href='https://code.jquery.com/ui/1.11.4/themes/blitzer/jquery-ui.css', rel='stylesheet', type='text/css')
      link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet', type='text/css')
      link(href='https://cdnjs.cloudflare.com/ajax/libs/multiple-select/1.1.0/multiple-select.min.css', rel='stylesheet', type='text/css')
      link(href='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css', rel='stylesheet', type='text/css')
      link(href='https://fonts.googleapis.com/css?family=Noto+Sans', rel='stylesheet', type='text/css')
      link(href='/common/css/style.css', rel='stylesheet', type='text/css')
      link(href='styles.css', rel='stylesheet', type='text/css')
      script(src='https://code.jquery.com/jquery-2.1.4.min.js', type='application/javascript')
      script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', type='application/javascript')
      script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.14.0/jquery.validate.js', type='application/javascript')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.14.0/additional-methods.js', type='application/javascript')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/multiple-select/1.1.0/jquery.multiple.select.js', type='application/javascript')
      script(src='https://code.jquery.com/ui/1.11.4/jquery-ui.min.js', type='application/javascript')
      script(src='/common/js/popover-functions.js', type='application/javascript')
      script(src='main.js', type='application/javascript')
  body
    a#skip.sr-only(href='#main') Go to Content
    #content.container
        include templates/header
        #page-head
            h1 Pathway Analysis Tool
        //-    nav.navbar.navbar-default
        //-        button.navbar-toggle(type='button', data-toggle='collapse', data-target='#main-nav')
        //-            span.sr-only Toggle navigation
        //-            span.icon-bar
        //-            span.icon-bar
        //-            span.icon-bar
        //-    #main-nav.navbar-collapse.collapse
        ul.nav.nav-tabs(role="tablist")
            li.active(role='presentation')
                a(href='#tab-home', data-toggle='tab', role='tab') Home
            li(role='presentation')
                a#toolTabId(href='#tab-tool', data-toggle='tab', role='tab') Tool
            li(role='presentation')
                a#helpTabId(href='#tab-help', data-toggle='tab', role='tab') Help
        #main.tab-content.grey-border
            include home
            include form
            include help
        include templates/footer
        include templates/snippets