doctype html
html(lang='en')
  head
    title Pathway Tool
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(http-equiv="Pragma", content="no-cache")

    link(href='https://fonts.googleapis.com/css?family=Noto+Sans', rel='stylesheet', type='text/css')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/multiple-select/1.1.0/multiple-select.min.css', rel='stylesheet', type='text/css')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css', rel='stylesheet', type='text/css')
    link(href="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.14.1/css/jquery.fileupload-ui.min.css", rel="stylesheet", type="text/css")
    link(href='https://code.jquery.com/ui/1.11.4/themes/blitzer/jquery-ui.css', rel='stylesheet', type='text/css')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet', type='text/css')
    link(href='/common/css/style.css', rel='stylesheet', type='text/css')
    link(href='styles.css', rel='stylesheet', type='text/css')

    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js')
    script(src='https://code.jquery.com/jquery-2.1.4.min.js', type='application/javascript')
    script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.min.js', type='application/javascript')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.14.0/jquery.validate.js', type='application/javascript')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.14.0/additional-methods.js', type='application/javascript')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/multiple-select/1.1.0/jquery.multiple.select.js', type='application/javascript')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.14.1/js/jquery.iframe-transport.min.js", type='application/javascript')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.14.1/js/jquery.fileupload.min.js", type='application/javascript')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.14.1/js/jquery.fileupload-jquery-ui.min.js", type='application/javascript')
    script(type='text/javascript', src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(src='/common/js/popover-functions.js', type='application/javascript')
    script(src='main.js', type='application/javascript')
  body
    a#skip.sr-only(href='#main') Go to Content
    #content.container
      include templates/header
      #main.tab-content
        include home
        include form
        include help
      include templates/footer
      include templates/snippets