@media screen and (min-device-width: 320px) and (max-device-width: 1200px) {
  body {
    width: 99% !important;
    font-size: 1em !important;
  }
  header .division-logo {
    min-width: 330px;
  }
  #content {
    width: 95% !important;
  }
  footer .spacer {
    display: none;
  }
  footer ul li {
    display: block !important;
    margin: 0 !important;
  }
  .tooltip {
    -webkit-background-size: 90% !important;
    -moz-background-size: 90% !important;
    background-size: 90% !important;
    width: 25px !important;
    height: 30px !important;
    padding: 5px;
    float: right;
  }
  input[type="text"],
  input[type="number"],
  input[type="email"],
  input[type="file"],
  select,
  button,
  progress {
    width: 90% !important;
    height: 40px !important;
    font-size: 1em;
  }
  #refinep_div {
    float: inherit;
  }
}
@media screen and (min-device-width: 320px) and (max-device-width: 479px) and (-webkit-min-device-pixel-ratio: 1) {
  .input {
    width: 100%;
  }
  #refinep_div {
    width: 50%;
  }
}
@media screen and (min-device-width: 480px) and (max-device-width: 599px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  .input {
    width: 100%;
  }
  #refinep_div {
    float: inherit;
    width: 50%;
  }
}
@media only screen and (min-device-width: 600px) and (max-device-width: 767px) and (-webkit-min-device-pixel-ratio: 1.5) {
  .input {
    width: 100%;
  }
  #refinep_div {
    width: 50%;
  }
}
@media screen and (min-device-width: 768px) and (max-device-width: 989px) and (-webkit-min-device-pixel-ratio: 1) {
  .input {
    width: 60%;
  }
  #refinep_div {
    width: 20%;
  }
}
@media screen and (min-device-width: 990px) and (max-device-width: 1200px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  .input {
    width: 60%;
  }
  #refinep_div {
    width: 20%;
  }
}

html {
  background: #d3d3d3;
}
body {
  background: #fff;
  padding-bottom: 1%;
  font: 12px/1.1 "Verdana", "Geneva", "sans-serif";
  margin: 0 auto;
  width: 75%;
  -webkit-box-shadow: 2px 3px 31px -5px #000;
  box-shadow: 2px 3px 31px -5px #000;
}
p {
  padding: 20px 24px;
}
form {
  background: #fff;
  margin: 0 auto;
}
form ul li {
  list-style: none;
}
form .error::before {
  content: "*";
  margin: 0px 8px;
}
#content {
  display: block;
  margin: 0px auto;
  padding: 0 2%;
  width: 60%;
}
#mainTitle {
  text-align: center;
  clear: both;
}
header {
  padding: 2% 0;
  margin-top: 0;
}
header hr {
  width: 90%;
  float: right;
  margin: 0;
  border: 0;
  height: 13px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), #bb0e3d, rgba(0,0,0,0));
  background-image: -moz-linear-gradient(left, rgba(0,0,0,0), #bb0e3d, rgba(0,0,0,0));
  background-image: -o-linear-gradient(left, rgba(0,0,0,0), #bb0e3d, rgba(0,0,0,0));
  background-image: -ms-linear-gradient(left, rgba(0,0,0,0), #bb0e3d, rgba(0,0,0,0));
  background-image: linear-gradient(to right, rgba(0,0,0,0), #bb0e3d, rgba(0,0,0,0));
}
#subHeading {
  border: 1px solid #000;
  text-align: center;
  padding: 1%;
  clear: both;
}
#errorDisplay,
#successBox {
  padding: 1%;
  margin: 10px auto;
  clear: both;
  text-align: center;
}
#errorDisplay li,
#successBox li {
  list-style: none;
  margin: 0 auto;
}
#errorDisplay li.error,
#successBox li.error {
  width: inherit;
  float: none;
  color: inherit;
}
#successBox {
  font-size: 1.1em;
  border: 2px solid #006400;
  background: #98fb98;
  margin: 1% auto;
  color: #006400;
}
ol li {
  margin: 2% auto;
}
ul {
  display: block;
  padding-left: 16px;
}
li {
  position: relative;
  padding: 4px 0px;
  clear: both;
}
label {
  display: block !important;
  float: left !important;
  font-weight: bold;
}
fieldset {
  margin: 2% auto;
  padding: 1%;
  border: 2px outset;
}
legend {
  font-size: 1.1em;
}
input[type="file"],
input[type="text"],
input[type="number"],
input[type="email"],
select,
button,
progress {
  width: 300px;
  height: 30px;
}
#calculate,
progress {
  display: block;
  margin: 0 auto;
}
.tooltip {
  background: url("/common/images/info.png") no-repeat center;
  width: 16px;
  height: 16px;
  margin-left: 5px;
}
.studyResources {
  float: right;
}
.studyResources label {
  padding: 0 5px;
}
#refinep_div {
  float: right;
}
#refinep input[type="checkbox"] {
  display: inline-block;
}
#refinep label {
  display: inline-block;
  width: auto;
  float: none;
}
.error {
  color: #f00;
}
.spacer {
  content: "|";
  display: inline-block;
}
.addControl {
  text-align: center;
  height: 30px;
  margin: 2% 0;
}
.input {
  float: right;
  clear: right;
}
#spinner {
  background: url("/common/images/loading.gif") no-repeat center/50%;
  height: 100px;
  width: 100px;
  clear: both;
  margin: 0 auto;
  display: none;
}
#snippets {
  display: none;
}
footer {
  padding: 2% 0;
  clear: both;
  text-align: center;
}
footer ul li {
  list-style: none;
  display: inline-block !important;
  margin: 0 5px;
}
footer ul li a {
  color: #000;
}
