@media (min-width 1279px)
    body
        width 93%
        font 0.9em "Verdana", "Geneva", "sans-serif"

@media (max-width 990px)
    .tooltip
        display none

@media (min-width 481px) and (max-width 810px)
    #content
        max-width 810px
        margin 0px
        padding 0px 5px
        
@media (max-width 990px)
    .ui-accordion .ui-accordion-content
        padding .5em
    footer
        font-size inherit
        .spacer
            display none
        ul li
            display block
            margin 0
            width 100%
    .tooltip
        background-size 90%
        width 25px
        height 30px
        padding 5px
        float right

    input[type="text"], input[type="number"], input[type="email"], input[type="file"], select, button, progress
        font-size 1em
    input[type="checkbox"]
        width 25px
        height 25px
    #refinep_div
        float inherit

@media (max-width 480px)
    #content
        width 360px
    .input
        width 100%
    #refinep_div
        width 50%
    .division-logo
        max-width 330px

@media (min-width 481px) and (max-width 1280px)
    .input
        width 70%
    #refinep_div
        width 20%
