/* ----------- Non-Retina Screens ----------- */
@media screen and (min-device-width 1200px), (max-device-width 1600px), (-webkit-min-device-pixel-ratio 1) {

}

/* ----------- Retina Screens ----------- */
@media screen and (min-device-width 1200px), (max-device-width 1600px), (-webkit-min-device-pixel-ratio 2), (min-resolution 192dpi) {

}

/* ----------- Kindle Fire HD 7" ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width 800px), (max-device-width 1280px), (-webkit-min-device-pixel-ratio 1.5) {


}

/* Portrait */
@media only screen and (min-device-width 800px), (max-device-width 1280px), (-webkit-min-device-pixel-ratio 1.5), (orientation portrait) {

}

/* Landscape */
@media only screen and (min-device-width 800px), (max-device-width 1280px), (-webkit-min-device-pixel-ratio 1.5), (orientation landscape) {

}

/* ----------- Kindle Fire HD 8.9" ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width 1200px), (max-device-width 1600px), (-webkit-min-device-pixel-ratio 1.5) {

}

/* Portrait */
@media only screen and (min-device-width 1200px), (max-device-width 1600px), (-webkit-min-device-pixel-ratio 1.5), (orientation portrait) {

}

/* Landscape */
@media only screen and (min-device-width 1200px), (max-device-width 1600px), (-webkit-min-device-pixel-ratio 1.5), (orientation landscape) {

}

/* ----------- Galaxy Tab 10.1 ----------- */

/* Portrait and Landscape */
@media (min-device-width 800px) and (max-device-width 1280px) {

}

/* Portrait */
@media (max-device-width 800px) and (orientation portrait) {

}

/* Landscape */
@media (max-device-width 1280px) and (orientation landscape) {

}

/* ----------- Asus Nexus 7 ----------- */

/* Portrait and Landscape */
@media screen and (device-width 601px), (device-height 906px), (-webkit-min-device-pixel-ratio 1.331), (-webkit-max-device-pixel-ratio 1.332) {

}

/* Portrait */
@media screen and (device-width 601px), (device-height 906px), (-webkit-min-device-pixel-ratio 1.331), (-webkit-max-device-pixel-ratio 1.332), (orientation portrait) {

}

/* Landscape */
@media screen and (device-width 601px), (device-height 906px), (-webkit-min-device-pixel-ratio 1.331), (-webkit-max-device-pixel-ratio 1.332), (orientation landscape) {

}
