@media (max-width 990px)
    .tooltip
        display none

@media (min-width 481px) and (max-width 810px)
    #content
        max-width 810px
        margin 0px
        padding 0px 5px
        
@media (max-width 990px)
    .ui-accordion .ui-accordion-content
        padding .5em
    footer
        font-size inherit
        .spacer
            display none
        ul li
            display block
            margin 0
            width 100%
    .tooltip
        background-size 90%
        width 25px
        height 30px
        padding 5px
        float right
    input[type="checkbox"]
        width 25px
        height 25px

@media (max-width 480px)
    #content
        width 360px
    .division-logo
        max-width 330px
