@media (max-width 990px)
    body
        background none
        font-size 13pt
    .tooltip
        display none
    #content
        max-width 100%
        margin 0px
        padding 0px 5px
    .ui-accordion .ui-accordion-content
        padding .5em
    footer
        font-size inherit
        .spacer
            display none
        ul li
            display block
            margin 10px 0
            width 100%
    .tooltip
        background-size 90%
        width 25px
        height 30px
        padding 5px
        float right
    input[type="checkbox"]
        width 25px
        height 25px
    .input
        float left
        input
        &:not([type='radio']), 
        &:not([type='checkbox']), 
        select
            width 80%

@media (max-width 480px)
    .division-logo
        width 340px