@import 'nib'

html
    font-size 11pt
    
.division-logo
    max-width 600px
    margin-left 3%

body
    background linear-gradient(to right, rgba(169,3,41,0.8) 0%, rgba(143,2,34,0.6) 4%, rgba(255,255,255,.4) 19%, rgba(255,255,255,0.2) 100%)
    
a
    text-decoration underline
    
#content
    width 93%
    float right
    background white
    
.tab-content
    min-height 900px
    
.ui-autocomplete
    overflow-x hidden
    overflow-y auto
    max-width 300px
    max-height 250px

.ui-widget
    font-size inherit

.nav-tabs
    margin-bottom 1%
form
    background white
    ol li
        margin 2% auto
    ul
        display block
        padding-left 16px
    li
        position relative
        padding 4px 0px
        clear both
    button.ui-button-icon-only, a.ui-button
        height 35px
        margin 0px
        width 40px

    .ms-parent
        width 100%
        > button
          width 100% !important
          height 35px

    input, select
        float left
        &.error
            border 1px solid red
            background rgba(225, 0, 0, 0.24)
            &:before
                content "*"
        &:not([type='radio']):not([type='checkbox'])
            height 35px
            width 100%
        &.input-fit[type='text']
            width 254px
    ul
        &#select2-database_pathway-results
            float left
            width 100%
        &.resource-list
            padding 0
        li
            list-style none
            &.studyResources
                .resourceNum
                    text-align center
                    padding 10px
                    font-weight bold

    .warning
      background gold
      border 5px solid goldenrod
      padding 5px
      
.family, #calculate, #messageBox, #spinner, progress
    &:not(.show)
        display none
        
#mainTitle
    text-align center
    clear both
    font-size x-large
header hr
    width 100%
    float right
    margin 0
    border 0
    height 13px
    background-image linear-gradient(to right, rgba(0, 0, 0, 0) 8%, #BB0E3D, rgba(0, 0, 0, 0) 100%);
#page-head
    h1
        text-align center
.subHeading
    font-size medium
    border 3px ridge rgba(0, 66, 118, 0.47)
    text-align center
    padding 1%
    clear both
    background-color lightslategray
    color white
    a
        color #FFF
    p
        padding 0px 20px
        text-align left

#messageBox
    padding 1%
    margin 10px auto
    clear both
    text-align center
    font-size .9em
    li
        list-style none
        margin  0 auto
        &.error
            width inherit
            float none
            color inherit

#successBox
    font-size 1.1em
    border 2px solid darkgreen
    background rgba(12, 193, 12, 0.27)
    margin 1% auto
    color darkgreen
    span
        width 20px
        float left

label
    display block
    float left

fieldset
    margin 2% auto
    padding 1em
    border 0.1em groove

legend
    padding 5px
    border 1px solid
    font-size inherit
    font-weight bold

progress
    display block
    margin 0 auto

.tooltip
    background url("/common/images/info.png") no-repeat center
    width 16px
    height 16px
    margin-left 5px
.studyResources
    label
        padding 0 5px
#refinep
    input[type="checkbox"]
        display inline-block
    label
        display inline-block

.box-error
    border 2px solid maroon
    background rgba(255, 115, 115, 0.5)

.spacer
    content "|"
    display inline-block
.addControl
    text-align center
    height 30px
    margin 2% 0

.buttonGroup
    margin 10px auto
    text-align center
    button, button.show
        width 300px
        display inline-block !important

.input
    position relative
    float right
    clear right
    text-align left
    width 300px
    .ms-drop
        font-size 85%
        left -100px
        li:not(.group)
            text-indent 20px

#spinner
    background url("/common/images/loading.gif") no-repeat center/50%
    height 100px
    width 100px
    clear both
    margin 0 auto
    display none

#snippets,.hide
    display none
    
.notice
    border 3px solid darkgray
    background lightgrey
    padding 10px
    margin 5px auto
    
footer
    padding 2% 0
    clear both
    text-align center
    font-size small
    ul li
        list-style none
        display inline-block
        margin 0 5px
        a
            color black