@import 'nib'

html
    height 100%
    
body
    min-height 100%
    // background linear-gradient(to right, rgba(169,3,41,0.8) 0%, rgba(143,2,34,0.6) 4%, rgba(255,255,255,.4) 19%, rgba(0, 0, 0, 0) 50%, rgba(255,255,255,.4) 81%, rgba(143,2,34,0.6) 96%, rgba(169,3,41,0.8) 100%)
    
.division-logo
    // max-width 600px
    min-width 380px

body
    // background white
    // padding-bottom 1%
    // font-size 14px
    // margin 0 auto
    // width 100%
    // float right
    // box-shadow -9px 17px 31px -4px rgba(0,0,0,0.75)
#content
    background #ffffff
    
.ui-autocomplete
    overflow-x hidden
    overflow-y auto
    max-width 300px
    max-height 250px

.ui-widget
    font-size inherit

form
    background white
    .row
        margin-top 5px
        margin-bottom 5px
    p
        padding 20px 24px
    button.ui-button-icon-only, a.ui-button
        height 35px
        margin 0px
        width 40px
    #sub:not(.show)
        display none
    .ms-parent
        width 100%
        > button
          width 100% !important
          height 35px

    input, select
        float left
        &.error
            border 1px solid red
            background rgba(225, 0, 0, 0.24)
            &:before
                content "*"
        &:not([type='radio']):not([type='checkbox'])
            height 35px
            width 100%
        &.input-fit[type='text']
            width 254px
    #studyFiles
        display none
    ul
        display block
        padding-left 16px
        &#select2-database_pathway-results
            float left
            width 100%
        li
            list-style none
    .custom-combobox
        position relative
        display inline-block
        a
            height 33px
            vertical-align bottom
    .error
        &.ms-choice, &.custom-combobox-input
            border 1px solid red
            background rgba(225, 0, 0, 0.24)
    .warning
      background gold
      border 5px solid goldenrod
      padding 5px
      
    ol li
        margin 2% auto
    li
        position relative
        padding 4px 0px
        clear both 
         
.section-content
    margin 10px auto

#mainTitle
    text-align center
    clear both
    font-size x-large
header
    padding 0
    margin 0
    hr
        width 100%
        float right
        margin 0
        border 0
        height 13px
        background-image linear-gradient(to right, rgba(0, 0, 0, 0) 8%, #BB0E3D, rgba(0, 0, 0, 0) 100%);
#page-head
    color #FFF
    background #BB0E3D 50%
    border-radius 5px 5px 0 0
    padding 10px
    margin 0 auto
    font-weight bold
    h1
        font-size 18px
        margin 0
        
#main
    display inline-block
    margin-bottom 1em

.section-title
    margin 0 auto
    padding 5px 10px
    background #606060
    color white
    font-size 18px
    
.subHeading
    font-size medium
    border 3px ridge rgba(0, 66, 118, 0.47)
    text-align center
    padding 1%
    clear both
    background-color lightslategray
    color white
    a
        color #FFF
    p
        padding 0px 20px
        text-align left

#errorDisplay,#successBox
    padding 1%
    margin 10px auto
    clear both
    text-align center
    font-size .9em
    &:not(.show)
        display none
    li
        list-style none
        margin  0 auto
        &.error
            width inherit
            float none
            color inherit

#successBox
    font-size 1.1em
    border 2px solid darkgreen
    background rgba(12, 193, 12, 0.27)
    margin 1% auto
    color darkgreen
    span
        width 20px
        float left

label
    display block
    float left

fieldset
    margin 2% auto
    padding 1em
    border 0.1em groove

legend
    padding 5px
    font-size 1em
    font-weight bold
    border 1px solid #9a9a9a
    
progress
    display block
    margin 0 auto
    &:not(.show)
        display none

.tooltip
    background url("/common/images/info.png") no-repeat center
    width 16px
    height 16px
    margin-left 5px
.studyResources
    float right
    label
        padding 0 5px
#refinep
    input[type="checkbox"]
        display inline-block
    label
        display inline-block

.box-error
    border 2px solid maroon
    background rgba(255, 115, 115, 0.5)

.spacer
    content "|"
    display inline-block
.addControl
    text-align center
    height 30px
    margin 2% 0

.buttonGroup
    margin 10px auto
    text-align center
    button
        width 300px

.input
    position relative
    float right
    clear right
    text-align left
    width 300px
    .ms-drop
        font-size 85%
        left -100px
        li:not(.group)
            text-indent 20px

#spinner
    background url("/common/images/loading.gif") no-repeat center/50%
    height 100px
    width 100px
    clear both
    margin 0 auto
    &:not(.show)
        display none

progress, #spinner, #sub, #snippets
    display none
    
.notice
    border 3px solid darkgray
    background lightgrey
    padding 10px
    margin 5px auto
    
footer
    text-align center
    ul li
        list-style none
        display inline-block
        &:after
            content "|"
            margin 0 15px
        a
            color black
