@import 'nib'

            
body
  font-size 10pt
  line-height 1.1
  font-family 'Noto Sans', Arial, sans-serif
  
.division-logo
    max-width 600px
    margin-left 3%


.ui-autocomplete
    overflow-x hidden
    overflow-y auto
    max-width 300px
    max-height 250px
    
.ui-widget
    font-family inherit
    font-size inherit

form
    background white
    button.ui-button-icon-only, a.ui-button
        height 35px
        margin 0px
        width 40px

    .ms-parent
        width 100%
        > button
          width 100% !important
          height 35px

    input, select    
        &.error
            border 1px solid #920000
            background #f2dede
            &:before
                content "*"
                color red
                font-weight bold
                vertical-align middle
                float left
                padding 0 10px
        &:not([type='radio']):not([type='checkbox'])
            height 35px
            width 100%
        &.input-fit[type='text']
            width 254px
    ul
        &#select2-database_pathway-results
            float left
            width 100%
        li
            list-style none
            &.studyResources .family:not(.show)
                display none
    .custom-combobox
        position relative
        display inline-block
        a
            height 33px
            vertical-align bottom
    .error
        &.ms-choice, &.custom-combobox-input
            border 1px solid red
            background rgba(225, 0, 0, 0.24)
    .warning
      background gold
      border 5px solid goldenrod
      padding 5px
#content
    box-sizing border-box
    display block
    width 100%
    margin 0px auto
    max-width 800px
    
.subHeading
    border 3px ridge rgba(0, 66, 118, 0.47)
    text-align center
    padding 1%
    clear both
    background-color lightslategray
    color white
    a
        color #FFF
    p
        padding 0px 20px
        text-align left

#errorDisplay,#successBox
    clear both
    text-align center
    li
        list-style none
        margin  0 auto
        &.error
            float none

#successBox
    border 2px solid darkgreen
    background rgba(12, 193, 12, 0.27)
    margin 1% auto
    color darkgreen
    span
        width 20px
        float left
        
fieldset
    margin 10px auto

legend
    font-weight bold
    font-size inherit
    padding 10px
    border 1px solid #eeeeee

progress
    display block
    margin 0 auto

.tooltip
    background url("/common/images/info.png") no-repeat center
    width 16px
    height 16px
    margin-left 5px
    
.studies ul li
    float none
    margin 12px 0
    
.studyResources
    float right
    
#refinep
    input[type="checkbox"]
        display inline-block
    label
        display inline-block

.addControl
    text-align center
    height 30px
    margin 2% 0

.buttonGroup
    margin 15px auto
    text-align center
    button
        width 300px
        display inline-block

.input
    position relative
    float right
    clear right
    .ms-drop
        left -100px
        li:not(.group)
            text-indent 20px

            

#snippets,.hide
    display none
    
.notice
    border 3px solid darkgray
    background lightgrey
    padding 10px
    margin 5px auto

.tab-pane
  min-height 500px

#loader
  background-color rgba(0, 0, 0, 0.5)
  background-position center
  position fixed
  top 0
  left 0
  height 100%
  width 100%
  img
    position inherit
    top 50%
    left 50%
    border-radius 10px
    background #fff
  &:not(.show)
    display none
    
#page-head, .section-title
  margin 0 auto
  padding 10px 
  font-weight bold
  
#page-head
  color #FFF
  background linear-gradient(to right, #BB0E3D 50%, transparent 100%)
  h1
    font-size 1.3em
    margin 0

header
  margin 0
  img
    height 90px
    width 550px

.tab-content
    margin 0 10px

section
  line-height 1.5

.section-title
  background #123E57
  color white
h2
    font-size 1.1em

.section-content
  padding 10px

.subcontent
  min-height 300px

.main-panel,
.side-panel
  min-height 500px

.footer
    margin 15px auto
    line-height 1.5
    font-weight bold
    ul li:after
        content "|"
        padding 0 10px

@media (max-width: 980px)
  header
    img
      max-width 360px

@media (max-width: 768px)
    #main-panel, #side-panel
        min-height auto


